<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1" name="viewport" />
  <link rel="stylesheet" href="..\static\Amuzia.css">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Otomanopee+One&display=swap" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

  <title>Amuziaaa!</title>
</head>

<body>
  <div class="back">
    <a href="..\index.html"> <img src="..\images\arrow.png" alt="back to homepage" class="back1" width="50px" height='50px'>
    </a>
  </div>
  <h1 class="heading">AMUZIA</h1>
  <div class="mycards">
    <div class="card" style="width: 14rem;">
      <img src="..\images\Fifa.png" class="card-img-top" alt="Fifa">
      <div class="card-body">
        <h5 class="card-title">Fifaa</h5>
      <a href="#" class="btn btn-success">Play Now</a>
      </div>
    </div>
    <div class="card" style="width: 14rem;">
      <img src="..\images\BullRun.png" class="card-img-top" alt="BullRun">
      <div class="card-body">
        <h5 class="card-title">BullRun</h5>
      <a href="#" class="btn btn-success">Play Now</a>
      </div>
    </div>
    <div class="card" style="width: 14rem;">
      <img src="..\images\CounterStrike.png" class="card-img-top" alt="Counter Strike">
      <div class="card-body">
        <h5 class="card-title">Counter Strike</h5>
      <a href="#" class="btn btn-success">Play Now</a>
      </div>
    </div>
  </div>
  <div class="mycards1">
    <div class="card" style="width: 14rem;">
      <img src="..\images\Fandom.png" class="card-img-top" alt="Fandom">
      <div class="card-body">
        <h5 class="card-title">Fandom</h5>
      <a href="#" class="btn btn-success">Play Now</a>
      </div>
    </div>
    <div class="card" style="width: 14rem;">
      <img src="..\images\Flash.png" class="card-img-top" alt="Flash">
      <div class="card-body">
        <h5 class="card-title">Flash</h5>
      <a href="#" class="btn btn-success">Play Now</a>
      </div>
    </div>
    <div class="card" style="width: 14rem;">
      <img src="..\images\PubG.png" class="card-img-top" alt="PubG">
      <div class="card-body">
        <h5 class="card-title">PubG</h5>
        <a href="#" class="btn btn-success">Play Now</a>
      </div>
    </div>
  </div>
  <div class="mycards2">
    <div class="card" style="width: 14rem;">
      <img src="..\images\TheAmazingRace.png" class="card-img-top" alt="TheAmazingRace">
      <div class="card-body">
        <h5 class="card-title">The Amazing Race</h5>
    <a href="#" class="btn btn-success">Play Now</a>
      </div>
    </div>
    <div class="card" style="width: 14rem;">
      <img src="..\images\BidzkreigCricket.png" class="card-img-top" alt="BidzkreigCricket">
      <div class="card-body">
        <h5 class="card-title">Bidzkreig Cricket</h5>
        <a href="#" class="btn btn-success">Play Now</a>
      </div>
    </div>
    <div class="card" style="width: 14rem;">
      <img src="..\images\BidzkreigFootball.png" class="card-img-top" alt="BidzkreigFootball">
      <div class="card-body">
        <h5 class="card-title">Bidzkreig Football</h5>
        <a href="#" class="btn btn-success">Play Now</a>
      </div>
    </div>
  </div>
</body>

</html>
