<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1" name="viewport" />
  <title>Voltus</title>
  <link rel="stylesheet" href="..\static\Voltus.css">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Otomanopee+One&display=swap" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

</head>

<body>
  <div class="back">
    <a href="..\index.html"> <img src="..\images\arrow.png" alt="back to homepage" class="back1" width="50px" height='50px'>
    </a>
  </div>

  <h1 class="heading">Voltus</h1>
  <div class="mycards">
    <div class="card" style="width: 14rem;">
      <img src="..\images\Circuit fixer.png" class="card-img-top" alt="Circuit fixer">
      <div class="card-body">
        <h5 class="card-title">Circuit fixer</h5>
        <a href="#" class="btn btn-primary">Participate!</a>
      </div>
    </div>
    <div class="card" style="width: 14rem;">
      <img src="..\images\Elec-trade.png" class="card-img-top" alt="Elec-trade">
      <div class="card-body">
        <h5 class="card-title">Elec-trade</h5>
        <a href="#" class="btn btn-primary">Participate!</a>
      </div>
    </div>
    <div class="card" style="width: 14rem;">
      <img src="..\images\DigElectra.png" class="card-img-top" alt="DigElectra">
      <div class="card-body">
        <h5 class="card-title">DigElectra</h5>
        <a href="#" class="btn btn-primary">Participate!</a>
      </div>
    </div>
  </div>
  <div class="mycards1">
    <div class="card" style="width: 14rem;">
      <img src="..\images\Microapps.png" class="card-img-top" alt="Microapps">
      <div class="card-body">
        <h5 class="card-title">Microapps</h5>
        <a href="#" class="btn btn-primary">Participate!</a>
      </div>
    </div>
  </div>
</body>

</html>
